<p *ngIf="!nations"><em>Loading...</em></p>
<div class="container">
  <form [formGroup]="form" (ngSubmit)="search()" #formDir="ngForm" novalidate>
    <div class="form-group row">
      <label class=" control-label col-md-1">Name</label>
      <div class="col-md-2">
        <input type="text" class="form-control" formControlName="name">
      </div>
      <label class=" control-label col-md-1">Age</label>
      <div class="col-md-1">
        <input type="text" class="form-control" formControlName="age">
      </div>
      <label class="control-label col-md-1" for="sport">Sport</label>
    <div class="col-md-2">
    <select class="form-control" data-val="true" formControlName="sport">
      <option value="">--Select Sport--</option>
              <option *ngFor="let s of sports" value={{s}}>
                  {{s}}
              </option>
    </select>
    </div>
    <button type="submit" class="btn btn-success">Search</button>
    <button class="btn" (click)="newOlympicon()">New Olympicon</button>
    </div>
  </form>
</div>
<table class='table' *ngIf="nations">
  <thead>
    <tr>
      <th>Natioinality</th>
      <th>Surname</th>
      <th>Forename</th>
      <th>Sport</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nation of nations">
      <td>{{ nation.nationality }}</td>
        <td>
          <tr *ngFor="let ol of nation.olympicons">
            <td>{{ ol.surname }}</td>
          </tr>
        </td>
        <td>
          <tr *ngFor="let ol of nation.olympicons">
            <td>{{ ol.forename }}</td>
          </tr>
        </td>
        <td>
          <tr *ngFor="let ol of nation.olympicons">
            <td>{{ enumtostring(ol.sport) }}</td>
          </tr>
        </td>
        <td>
          <tr *ngFor="let ol of nation.olympicons">
            <td><a [routerLink]="['/olympicon/', ol.id]">View</a> </td>
          </tr>
        </td>
        <td>
          <tr *ngFor="let ol of nation.olympicons">
            <td><a [routerLink]="['/edit-olympicon/', ol.id]">Edit</a> </td>
          </tr>
        </td>
    </tr>
  </tbody>
</table>
