<p *ngIf="!nations"><em>Loading...</em></p>

<a [routerLink]="['/create-olympicon']">Create New</a>
<table class='table' *ngIf="nations">
  <thead>
    <tr>
      <th>Natioinality</th>
      <th>Id</th>
      <th>surname</th>
      <th>forename</th>
      <th>sport</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ol of nations">
      <td>{{ ol.nationality }}</td>
      <td>{{ ol.id }}</td>
      <td>{{ ol.surname }}</td>
      <td>{{ ol.forename }}</td>
      <td>{{ ol.sport }}</td>
      <td><a [routerLink]="['/olympicon/edit/', ol.id]">Edit</a></td>
    </tr>
  </tbody>
</table>
<!--| groupBy:'nationality'-->
